{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <script src="{% static 'js/funcionDataTable.js'%}"></script>
{% endblock head %}


{% block content %}
<div class="container-fluid">
  <div class="contenido">
    {% csrf_token %}
    <table id="table_category"  class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Tarea</th>
                <th>Asignado</th>
                <th>Estado</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Opciones</th>
            </tr>
        </thead>
    </table>
    <button id="botonRegistrar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCategory">Registrar categoria</button>
    <button id="botonActualizar" class="btn btn-success">Actualizar datos</button>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="." method="POST">
          {% csrf_token %}
          <input type="hidden" name='action' value=''>
          <input type="hidden" name='id' value=''>
          <div class="modal-body">
                <div class="form-group">
                  <label>Ingrese una nueva tarea</label>
                      {{ form.name }}
                  <label>Personal asignado:</label>
                    {{ form.assigned_to }}
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% comment %} ModalBody {% endcomment %}
<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloView"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='tituloDetalles'>
            <div>
              Detalles de la Tarea
            </div>
            <div>
              Usuario asignado
            </div>
        </div>
        <div class="contentDetalles">
            <div>
              <ul>
                <li>Nombre:  <span id='nombreTarea'></span></li>
                <li>Estado:  <span id="statusTarea"></span></li>
                <li>Creacion:  <span id="fechaCreacion"></span></li>
                <li>Modificacion:  <span id="fechaModificacion"></span></li>
              </ul>
            </div>
            <div>
              <ul>
                <li>Usuario:  <span id="nombreUsuario"></span></li>
                <li>Telefono:  <span id="telefonoUsuario"></span></li>
                <li>Direccion:  <span id="direccionUsuario"></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
{% block javaScript%}
  <script type="application/javascript">
    var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
    $('form').on('submit', function(e){
      e.preventDefault();
      var data = $('form').serializeArray()
      var url = window.location.pathname
      ajax_submit(
        url,
        data,
        csrftoken,
        function(){
          $('#modalCategory').modal('hide')
          Swal.fire({
            position: 'bottom-end',
            icon: 'success',
            title: 'La tarea se ha creado exitosamente',
            showConfirmButton: false,
            timer: 2000

          })
          $('#table_category').DataTable().ajax.reload();
         })
    })  
  </script>
{% endblock javaScript%}
