<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskList</title>
</head>
<body>
    <div>
        <h1>TaskList</h1>
        <div>
            <h4>Agregue una nueva tarea</h4>
            <div>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div>
                         <button type="submit">New Task</button>
                    </div>
                </form>
            </div>
    <div>
    <div>
        {% for taskList in task %}
            <ul>
                <li>Tarea: {{ taskList.name }} Asignado a: {{ taskList.assigned_to}}</li>
            </ul>
        {% endfor %}
    </div>
</body>
</html>